
nav.layer

    img( src=require('../../assets/img1.png') )
    h1 this #{name} div
    div
        ul
            each val, i in arr
                li #{val} #{a} li1
    ul
        -for (var x =0;x<4;x++)
             li.col-2 #{x+1}
    div.close-button
    div.open-button
    div.icon-1


